.no-js{
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.93);
  background-size: cover;
  position: absolute;
  z-index: -2;
  overflow-x: hidden;
}
head{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  margin: 0;
  padding: 0;
  color: #ffffff;
  overflow-x: hidden;
}
body header{
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image:url("https://cdn.jsdelivr.net/gh/1LibertyAL/resume/img/desinty-2-the-witch-queen-5k-fe_compressed.jpg");
  background-size:cover;
  background-position: 50% 50%;
  -webkit-background-clip: text;
}
body header .border{
  height: 10vh;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  border-top: 4px solid rgba(255,255,255,0.9);
  border-bottom: 4px solid rgba(255,255,255,0.9);
  z-index: -1;
}
body header nav{
  height: 10vh;
  width: 100%;
  position:fixed;
  display: flex;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
body header nav ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-image:url("https://cdn.jsdelivr.net/gh/1LibertyAL/resume/img/ff34c78e-778b-4a67-bdcf-58c5fe9974a6.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size:200px;
  background-position: center;

  list-style: none;
  pointer-events: auto;
  /*border: 3px solid #ffffff;*/
}
body header nav ul li{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:700;
  font-size:1.5vw;
  pointer-events: auto;
  /*padding: 3%;*/
}
body header nav::before{
  content: '';
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
  pointer-events: none;
}
body header .resume{
  height:90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:18vw;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  transition:transform 0.5s ease;
  transform-origin: center center;
}
body header::before{
  content: '';
  height:100vh;
  background-size: cover;
  background-image: inherit;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
  pointer-events: none;
}
body main{
  z-index:1;
  display: flex;
  flex-direction: column;
}
body main .box-1{
  height: 100vh;
  margin-top: 10vh;
  background-image: url("https://cdn.jsdelivr.net/gh/1LibertyAL/resume/img/Outer%20Wilds%202025.04.21%20-%2015.50.40.02%20-%20frame%20at%200m0s.jpg");
  background-size:200px 200px;
  background-position: 50% 50%;
  -webkit-background-clip: text;
}
body main .box-1 .information{
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 5vw;
}
body main .box-1 .information h1{
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
}
body main .box-1 .information p{
  z-index:-2;
}
body main .box-1 .project{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 75vw;
}
body main .box-1 .project h2{
  -webkit-text-fill-color: transparent;
}
body main .box-1 .project a{
  display: flex;
  align-items: center;
  padding: 0.5vw;
  text-decoration: none;
  color: white;
}
body main .box-1 .project a img{
  max-height:4vh;
  padding: 0.4vw;
}
body main .box-1::before{
  content: '';
  height:100vh;
  background-size: cover;
  background-color: #000000;
  background-position: 50% 50%;
  position: absolute;
  top: 105vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
  pointer-events: none;
}
body main .box-2{
  height: 100vh;
  -webkit-background-clip: text;
}
body main .box-2 .experience-img{
  aspect-ratio: 3 / 2;
  height:90vh;
  width:60vw;
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 5%;
  transform-style: preserve-3d;
  transform: translateZ(800px);
  transition: transform 0.8s;
  overflow: visible;
}
body main .box-2 .experience-img .carousel-slide{
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  transform: translatez(450px);
  overflow: hidden;
}
body main .box-2 .experience-img .carousel-slide img{
  height: 60vh;
  width: 45vw;
  object-position: center;
  display: block;
}
body main .box-2 .experience-img .prev-btn,
body main .box-2 .experience-img .next-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .box-2 .experience-img .prev-btn{
  left: -30px;
}
body main .box-2 .experience-img .next-btn{
  right: -30px;
}
body main .box-2 .experience{
  position: absolute;
  top: 215vh;
  display: flex;
  flex-direction: column;
  margin-left: 70%;
  background-image: url("https://cdn.jsdelivr.net/gh/1LibertyAL/resume/img/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20250327193840.jpg");
  background-size:cover;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  z-index: -1;
}
body main .box-2 .experience h1{
  font-size: 5vw;
  -webkit-text-fill-color:transparent;
}
body main .box-2 .experience p{
  font-size: 1.1vw;
}
body main .box-2 .experience .framework{
  line-height: 2.4;
}
body main .box-2 .experience::before{
  content: '';
  /*height:100vh;*/
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 210vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
  pointer-events: none;
}
body main .box-2::before{
  content: '';
  height:100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 210vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
}
body main .box-3{
  height: 100vh;
  margin-top: 5vh;
  background-image: url("https://cdn.jsdelivr.net/gh/1LibertyAL/resume/img/841918.jpg");
  background-size:200px 200px;
  background-position: 50% 50%;
  -webkit-background-clip: text;

}
body main .box-3 .layer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
body main .box-3 .layer h1{
  font-size: 5vw;
  -webkit-text-fill-color:transparent;
}
body main .box-3 .layer p{
  font-size: 1vw;
}
body main .box-3::before{
  content: '';
  height:100vh;
  background-size: cover;
  background-color: #000000;
  position: absolute;
  top: 315vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
  pointer-events: none;
}

@media (max-width: 768px) {
  body header nav{
    top: 1vh;
  }
  body header nav ul li{
    font-size: 1rem;
    background-size: 100vh;
    background-position: 100% 50%;
  }
  body main .box-1{
    height: 90vh;
    margin-top: 5vh;
  }
  body main .box-1::before {
    height: 90vh;
    top: 105vh;
  }
  body main .box-1 .information{
    margin-top: 8vh;

  }
  body main .box-1 .information h1{
    font-size: 2.5rem;
  }
  body main .box-1 .project{
    margin-top: 40%;
    margin-left: 30%;
  }
  body main .box-1 .project h2{
    font-size: 5vw;

  }
  body main .box-1 .project .href{
    position: absolute;
    right: 5%;
    margin-top:6vh;
  }
  body main .box-1 .project .href a{
    padding-top: 5%;
  }
  body main .box-2{
    height: 100vh;
    display: flex;
  }
  body main .box-2::before {
    height: 100vh;
    top: 190vh;
  }
  body main .box-2 .experience-img {
    height: 50%;
    width: 80vw;
    top: 35vh;
    left: 10vw;
  }
  body main .box-2 .experience-img .carousel-slide {
    height: 30vh;
  }
  body main .box-2 .experience-img .carousel-slide img {
    height: 30vh;
    width: auto;
  }
  body main .box-2 .experience{
    height: 50vh;
    width: 70vw;
    position: absolute;
    top: 204vh;
    right: 15vw;
  }
  body main .box-2 .experience h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
  }
  body main .box-2 .experience p{
    font-size: 3vw;
  }
  body main .box-3 {
    height: 60vh;
    margin-top: 5vh;
  }

  body main .box-3::before {
    height: 70vh;
    top: 270vh;
  }
  body main .box-3 .layer {
    margin-top:10vh;
  }
  body main .box-3 .layer h1{
    font-size: 2.5rem;
  }
  body main .box-3 .layer p{
    font-size: 2.5vw;
  }
}
